SNOW_Reporting_Test/Connected Services/ServiceNowReporting/item21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DATG.SN.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DATG.SN.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKeyValueString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueString" nillable="true" type="tns:KeyValueString" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueString" nillable="true" type="tns:ArrayOfKeyValueString" />
  <xs:complexType name="KeyValueString">
    <xs:sequence>
      <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValueString" nillable="true" type="tns:KeyValueString" />
</xs:schema>