SNOW_Reporting_Test/Connected Services/ServiceNowReporting/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://datgbr-papw173.swna.wdpr.disney.com:8733/DATG.SN.ReportingConnector/SNOWReportingConnector/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DATG.SN.Common.SNOW" />
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BusinessID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DATG.SN.Common.SNOW" minOccurs="0" name="GetApplicationListResult" nillable="true" type="q1:ArrayOfConfigurationItemViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>