SNOW_Reporting_Test/Connected Services/ServiceNowReporting/item22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DATG.SN.Common.SNOW" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DATG.SN.Common.SNOW" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://datgbr-papw173.swna.wdpr.disney.com:8733/DATG.SN.ReportingConnector/SNOWReportingConnector/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://datgbr-papw173.swna.wdpr.disney.com:8733/DATG.SN.ReportingConnector/SNOWReportingConnector/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DATG.SN.Common.Models" />
  <xs:complexType name="ArrayOfConfigurationItemViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfigurationItemViewModel" nillable="true" type="tns:ConfigurationItemViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfigurationItemViewModel" nillable="true" type="tns:ArrayOfConfigurationItemViewModel" />
  <xs:complexType name="ConfigurationItemViewModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Alias" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="BusinessCriticality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutiveOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DATG.SN.Common.Models" minOccurs="0" name="Interfaces" nillable="true" type="q2:ArrayOfKeyValueString" />
      <xs:element minOccurs="0" name="IsAlias" type="xs:boolean" />
      <xs:element minOccurs="0" name="LongDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportGroup2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportGroup3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortNameMarker" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigurationItemViewModel" nillable="true" type="tns:ConfigurationItemViewModel" />
</xs:schema>