SNOW_Reporting_Test/Connected Services/ServiceNowReporting/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://support.media.disney.com/" elementFormDefault="qualified" targetNamespace="http://support.media.disney.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/SNOWReporting/service?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8733/SNOWReporting/service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DATG.SN.Common.Models" />
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BusinessID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationListResult" nillable="true" type="tns:ArrayOfConfigurationItemViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfConfigurationItemViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfigurationItemViewModel" nillable="true" type="tns:ConfigurationItemViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfigurationItemViewModel" nillable="true" type="tns:ArrayOfConfigurationItemViewModel" />
  <xs:complexType name="ConfigurationItemViewModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Alias" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="BusinessCriticality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutiveOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DATG.SN.Common.Models" minOccurs="0" name="Interfaces" nillable="true" type="q2:ArrayOfKeyValueString" />
      <xs:element minOccurs="0" name="IsAlias" type="xs:boolean" />
      <xs:element minOccurs="0" name="LongDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportGroup2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportGroup3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortNameMarker" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigurationItemViewModel" nillable="true" type="tns:ConfigurationItemViewModel" />
  <xs:element name="GetTicketInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TicketInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTicketInfoResult" nillable="true" type="tns:ApplicationCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationSysId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessId1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessId2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketTimestamp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationCount" nillable="true" type="tns:ApplicationCount" />
</xs:schema>